:root {
    --color-1: #A4B465;
    --color-2: #626F47;
    --color-3: #F0BB78;
    --color-4: #F5ECD5;
    --color-5: #21221c;
    --color-6: rgb(235, 223, 190);
}

.menu-bar-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 10px 0;
    background-color: var(--color-1);
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.menu-bar-tab:hover {
    background-color: var(--color-3);
    transform: translateY(-2px);
}

.menu-bar-tab .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    object-fit: contain;
}

.menu-bar-tab .title {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--color-4);
}


@media (max-width: 768px) {
    .menu-bar-tab {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin: 0;
        width: 90px;
        height: 80px;
        padding: 10px;
        transition: transform 0.2s ease, background-color 0.3s ease;
    }

    .menu-bar-tab .icon {
        width: 40px;
        height: 40px;
        margin-bottom: 8px;
    }

    .menu-bar-tab .title {
        font-size: 12px;
    }
}