:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Funnel Display";

  --primary-color: #ffb823;
  --text-color: #fff1ca;
  --background-color: #2d4f2b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Merienda";
  color: var(--primary-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
img {
  display: block;
}

.startCard-img {
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  object-fit: cover;
  z-index: 1;
}

.start-title {
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: large;
  background-color: #eaeaea15;
  color: #0d180d;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  width: 100vw;
}

.top-nav__brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.top-nav__menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.top-nav__menu li {
  cursor: pointer;
}

.top-nav__toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-nav__toggle {
    display: flex;
  }

  .top-nav__menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 1rem;
    background: #2d4f2b;
    border: 1px solid var(--background-color);
    display: none;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .top-nav__menu.open {
    display: flex;
  }
}
